<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Thank you</title>
<link rel="stylesheet" href="styles/topnavbar.css">
</head>
<body style="margin:0; background:#181818; color: white;">
	<div th:include="navbar.html" ></div>
	<div style="position: relative;min-height: 90vh; ">
	<div style="padding-bottom: 9.5rem; margin: 10px;">
	<h1 style="text-align: center;">Thank you</h1>
	
	<p>Thank you for sending your request. You may see it in the gallery of my art soon!</p>
	
	</div>
	<br>
	<div th:include="footer.html" ></div>
	</div>
</body>
</html>