<footer id="foot" style="background: linear-gradient(#65039e, blue); width: 99%; color: black; align-content: right;
position: absolute; bottom: 0; color: white; height: 10rem; float: left; max-width:100%; border: solid, 0px; padding: 12px;">
	<p>All rights reserved</p>
	<p>No Refunds</p>
	<br>
	<p>This is a project headed by John Lynch. All donations forwarded are for artists and creators. All parties are not responsible for any actions
		or represented media posted in this art forum. Any opinions expressed are entirely of the expressor and not beholden to the platform.</p>
</footer>